<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->

<!-- two-way-binding -->
<input type="text" class="form-control" [(ngModel)]="serverName" />

<p>{{ serverName }}</p>

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>

<!-- the same -->
<!-- <p [innerText]="allowNewServer"></p>
 -->
<!-- <p>{{ serverCreationStatus }}</p> -->

<!-- Directive ngIf -->
<p *ngIf="serverCreated; else noServer">
  <i>Server was created, server name is <b>{{ serverName }}</b></i>
</p>
<!-- Else -->
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>

<app-server></app-server>
<app-server></app-server>
